<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    

		<%# Cards %>
		<div class="arCards">
				<div class="imgContainer arCard1"></div>
				<article>
					<h3>Intro to Sustainability</h3>
					<p>TThis course covers Sustainability and how societies can endure amidst global change, ecosystem degradation, and limited resources.</p>
				</article>
				<div class="arCardsAWrap"><a href="https://www.coursera.org/learn/sustainability" target="_blank"><button class="buttonPrimary">View course</button></a></div>
			</div>

		<div class="arCards">
			<div class="imgContainer arCard2"></div>
			<article>
				<h3>Development Goals</h3>
				<p>Extreme weather events, wars, famine and environmental destruction are just a few of the wicked problems faced by humanity.</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.coursera.org/learn/sdgbusiness" target="_blank"><button class="buttonPrimary">View course</button></a></div>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>Sustainable Cities</h3>
				<p>This Specialization is intended for individuals and organizations interested in developing skills and strategies to create and support sustainable cities. </p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.coursera.org/specializations/sustainablecities" target="_blank"><button class="buttonPrimary">View course</button></a></div>
		</div>

 

</div>