<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Here are Sustainable Hive features
			</p>
		</div>
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">
		<%# Cards %>
	<div class="cards">

  <a href="/donate">
		<div class="card">
			<img src="https://previews.123rf.com/images/rastudio/rastudio1601/rastudio160100170/49887114-open-donation-box-line-icon-for-web-mobile-and-infographics-vector-white-icon-on-the-light-blue-circ.jpg" alt="">
			<h3> Donate </h3>
			<p> Every year, tons of clothing are discarded and end up in landfills. Many of these clothing items are in perfectly serviceable conditions as well. By donating your clothing, you stop the landfills from getting bigger and you keep usable material from being thrown in the trash. Here you can donate your items to charity foundations. </p>
     </div> </a>
    
     <a href="game">
		<div class="card">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLjBkXdWApbeQ9V9udJ_UXcm_p17o4IT1L6w&usqp=CAU" alt="">
      <h3> Recycleable Game </h3>
			<p>  This is a game designed for children which helps them to identify which products are recyclable and which are not.</p>
 

		</div></a>

    <a href="/cam">
		<div class="card">
			<img src="https://www.nicepng.com/png/detail/357-3576881_a-lot-more-fluid-in-camera-blue-icon.png"alt="">
			<h3>ITEM SORT CAMERA</h3>
			<p>Most of us find difficult to sort out the trash and always mix up the trash. Soil, water and air pollution can all be a result of improper waste disposal. Diseases like Cholera, Dysentery are known to be spread through contaminated water and can cause serious health epidemics in a population. So, by using trash sort camera you will be able to identify the trash and dispose it properly.</p>
		</div></a>
    
		<a href="/chat">
		<div class="card">
			<img src="https://media.istockphoto.com/vectors/-vector-id1010001882?k=20&m=1010001882&s=612x612&w=0&h=6ZqzWlYBD3bT2EqJolzC3xbIKVVy350qMQmmS6B-Wd4=" alt="">
			<h3> Chat Bot </h3>
			<p> You can use Sustainable Hive's chatbot to learn more about eco-friendly products. </p> 
      
		</div> </a>
		
    <a href="/ar">
		<div class="card">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_caS5TYG-cnRds6Tv4kdtrHjSFMWzXStWyYPXRNwIhTJ0cZSITLUXU4amFpW9raVrIWQ&usqp=CAU" alt="">
      <h3>AR Endangered species</h3>
			<p> Plants and animals maintain the health of an ecosystem. When a species becomes endangered, it's a sign that an ecosystem is out of balance. The conservation of endangered species, and restoring balance to the world's ecosystems, is vital for humans, too. Here you can watch the AR of endangered species.</p>
 
		</div></a>
		

    <a href="airquality">
		<div class="card">
			<img src="https://w7.pngwing.com/pngs/405/453/png-transparent-indoor-air-quality-air-pollution-air-purifiers-dust-computer-icons-fresh-air-angle-text-logo-thumbnail.png" alt="">
      <h3> Air Quality </h3>
			<p>  Air quality affects our health, the liveability of our cities and towns, and our environment. Air pollution, particularly from human activity, can cause health problems that affect the heart and lungs, and can cause cancer. Here you can able to see the air quality of your location. Which helps you to improve your atmosphere by taking effective steps. </p>
 
		</div></a>
   
	</div>
</div>