<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Game - Green Wave</title>
		<link rel="stylesheet" href="/styles/game.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
		<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <script src="https://kit.fontawesome.com/43c1b0f304.js" crossOrigin="anonymous"></script>
  <%# Import nav %>
		<header>
			<%- include('../partials/nav') %>
		</header>
<body>
<div class="wrapper">
  <div class="timer">
       <span></span>    
  </div>
  <div class="startScreen">
  <div class="rules rules1">
    <div class="rulesCont">
      <p>Click the recyclable products to earn points.</p>
      <div class="items">
        <div class="avoid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="endScreen">
  <div class="rules rules1">
    <div class="rulesCont">
      <h1>Good Job!</h1>
  </h3>
    </div>
  </div>
</div>

<div class="game">
  <div id="goodObjects">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
    <input type="checkbox" class="goodObject object">
  </div>

  <div id="badObjects">
    <input type="checkbox"

  
  
  <footer> 
   
    
  </footer>
</div>


